<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.mails.summery.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/mahadev.b/IdeaProjects/Yahoo_Mails_Project/src/main/java/com/mails/summery/TestClass.java">
        <classes>
            <class name="com.mails.summery.TestClass">
            </class>
        </classes>
    </test>
</suite>